* {
  padding: 9;
  margin: 0;
  box-sizing: border-box;
}


body {
  
  max-width: 1000px;
  margin:  auto;
  margin: 10;
  padding: 30;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #6017c0;
  color: rgb(11, 252, 31);
  background-color: #2f3541;
  background-image: url(mm.png);
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: l;
  max-width: 99%;
  

}

.logo {
  flex: 2;
}

nav ul {
  
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  margin-top: 30%;
  


}
nav li {
  margin-right: 20px;
}

@media screen  and (max-width:20000px)  {
  nav ul {
    display: flex;
    flex-wrap: nowrap;
  
  }
  nav li {
   margin:  0 10px;
   margin-right: 0px;
  }
  
}
li {
  list-style-type: none;
  margin: 4%;
  padding: 8px;
  box-shadow: rgba(55, 197, 91, 0.5) 0px 8px 24px;
  color: rgb(4, 56, 80);
  border-radius: 6px;


}

a {
  text-decoration: wavy;
  color: rgb(13, 177, 189);
  font: 1em sans-serif;
  font: 100 ;
}


main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.section {
  margin: 22px 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  align-items: center;
}
.img{
  width: 120px;

}
.picture{
  width: 150px;
  
  
}
.section img {
  width: 100%;

}

.section button {
  width: 40%;
  text-align: center;
  margin: 2px auto;
}

.section p {
  font-weight: bolder;
}
h1 {
  padding-top: 100px;
  text-align: center;
  
}
h2{
  text-align: center;
}
p{
  text-align: center;
  font-family:  'Arial Narrow Bold', sans-serif;
  font-size: larger;
}
@media (max-width: 500px) {
 
  main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 9px;

     
  }
  header {
    color: #1bd2eb;
  }
}

@media (min-width:1200px) and (max-width: 1199px) {
  header {
    width: 100px;
  }
}
header {
  position: fixed;
  background-color: rgb(11, 1, 17);
  display: flex;
  top: 1px;
  width: 79%;
  height: 70px;
  
}
.menu-togle {
  display: non;
  cursor: pointer;
  display: flex;
}
.nav-link {
  display: flex;
}
@media (max-width: 568px) {
  .nav-links {
      display: none;
  }
  .nav-links.active {
      display: flex;
      flex-direction: column;
      background-color: #010f13;
      padding: 0px;
      position: absolute;
      top: 0px;
  
      
  }
}
.floamt{
  float: right;
  
  height: 55px;
  margin: 1px;
  padding: 1px;
  right: 1px;
}
button{
  border-radius: 50px;
  width: 100px;
  background-color: #16091a;
  color: #f0c507d3;
}



.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}


.mySlides {
display: none;
}




.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
color: #b3dd1b;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}


#music-link {
  text-decoration: none;
}

#music-link img {
  width: 30px;
  height: 30px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #011113;
  color: #869e18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#back-to-top {
  text-decoration: none;
  color: #fff;
}
i{
  color: rgb(9, 228, 217);
   font-size: 27px;
   align-items: center;
}
