* {
    padding: 0;
    margin: 0;
}


body {
    
    max-width: 1000px;
    margin: 0 auto;
    margin: 10;
    padding: 30;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: purple;
    counter-reset: snow;
    background-color: #ebe1e1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: l;

}

.logo {
    flex: 1;
}

nav ul {
    flex: 2;
    display: flex;
    justify-content: space-between;

}

li {
    list-style-type: none;
    margin: 4%;
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    color: black;
    border-radius: 6px;


}

a {
    text-decoration: none;
    color: black;
    font: 1em sans-serif;
    font: 100 ;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.section {
    margin: 22px 0;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
}
.img{
    width: 120px;

}
.section img {
    width: 100%;
}

.section button {
    width: 40%;
    text-align: center;
    margin: 2px auto;
}

.section p {
    font-weight: bolder;
}
h1 {
    padding-top: 100px;
    align-items: center;
}
@media (max-width: 700px) {
   
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 9px;

       
    }
}
header {
    position: fixed;
    background-color: rgb(204, 209, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 10;
    left: 0;
    width: 80%;
    height: 70px
    
}
.menu-togle {
    display: none;
    cursor: pointer;
}
.nav-link {
    display: flex;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
        background-color: #f4f4f4;
        padding: 0px;
        position: absolute;
        top: 0px;
        
        
    }
}
.float-to-right {
    float: right;
    
    height: 55px;
    margin: 10px;
    padding: 10px;
    right: 2px;
}
button{
    border-radius: 30px;
}
